[submodule "doctest"]
	path = submodules/doctest
	url = https://github.com/onqtam/doctest.git
	shallow = true
[submodule "sfml"]
	path = submodules/sfml
	url = https://github.com/SFML/SFML.git
	shallow = true
[submodule "imgui"]
	path = submodules\\imgui
	url = https://github.com/ocornut/imgui.git
	shallow = true
